<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-lg-8">
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 100%;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <select class="form-control btn-sm" id="exampleFormControlSelect1" (change)="ShowSelected($event)">
          <option value="1">Desbloqueado</option>
          <option value="2">Bloqueado</option>
        </select>
      </div>
      <div class="col-lg-2">
        <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#exampleModal"
          data-whatever="@mdo"><i class="fa fa-plus-square"></i> Crear</button>
      </div>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body table-responsive p-0">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Descripcion</th>
          <th>Logo</th>
          <th>Imagen</th>
          <th>Mostrar</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let servicios of listServicio">
          <td>{{servicios.title}}</td>
          <td style="width: 700px;">
            <div [innerHTML]="servicios.descripcion"></div>
          </td>
          <td><img src="{{servicios.logo ? servicios.logo : imgdefault}}" alt="" class="logo"></td>
          <td><img src="{{servicios.img ? servicios.img : imgdefault}}" alt="" class="logo"></td>
          <td *ngIf="servicios.select">
            <div class="icheck-primary d-inline">
              <input type="checkbox" id="{{servicios.title}}" checked (click)="select(servicios._id, false)">
              <label for="{{servicios.title}}">
              </label>
            </div>
          </td>
          <td *ngIf="!servicios.select">
            <div class="icheck-primary d-inline">
              <input type="checkbox" id="{{servicios.title}}" (click)="select(servicios._id, true)">
              <label for="{{servicios.title}}">
              </label>
            </div>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-info" (click)="editarImagen(servicios._id)" data-toggle="modal"
                data-target="#exampleModal2" data-whatever="@mdo">
                <i class="fas fa-camera-retro 5x"></i>
              </button>
              <button type="button" class="btn btn-warning" (click)="editarServicio(servicios._id)" data-toggle="modal"
                data-target="#exampleModal" data-whatever="@mdo">
                <i class="fas fa-edit"></i>
              </button>
              <button type="button" class="btn btn-danger" *ngIf="servicios.estado"
                (click)="borrarServicio(servicios._id, false)">
                <i class="fas fa-lock"></i>
              </button>
              <button type="button" class="btn btn-danger" *ngIf="!servicios.estado"
                (click)="borrarServicio(servicios._id, true)">
                <i class="fas fa-lock-open"></i>
              </button>

            </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{titulo}} Servicio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelar()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="servicioForm">
          <div class="form-group">
            <label for="recipient-titulo" class="col-form-label">Titulo:</label>
            <input type="text" class="form-control" id="recipient-titulo" formControlName="title">
          </div>
          <div class="form-group">
            <label for="recipient-descripcion" class="col-form-label">Descripcion:</label>
            <br>
            <!-- <input type="text" class="form-control" id="recipient-descripcion" formControlName="descripcion"> -->
            <angular-editor formControlName="descripcion"></angular-editor>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelar()">Close</button>
        <button type="submit" class="btn btn-primary" (click)="crearEditarServicio()"
          [disabled]="servicioForm.invalid">{{titulo}} Servicio</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true"
  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Imagen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelar()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6 text-center mb-5 logoPri">
            <div class="row">
              <div class="col-lg-12 text-center imgLogo mb-5">
                <img src="{{imagenLogo}}" class="rounded">
              </div>
              <div class="col-lg-12 text-center btnLogo">
                <button class="contenedor-btn-file">
                  <i class="far fa-file-image"></i>
                  Adjuntar Logo
                  <label for="btn-file"></label>
                  <input type="file" id="btn-file" #fileInputLogo (change)="capturarFileLogo($event)" accept="image/*">
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-6 text-center">
            <div class="col-lg-12 text-center imgPri mb-5">
                <img src="{{imagenPri}}" class="rounded">
            </div>
            <div class="col-lg-12 text-center">
              <button class="contenedor-btn-file bordeado">
                <i class="far fa-file-image"></i>
                Adjuntar Imagen
                <label for="btn-files"></label>
                <input type="file" id="btn-files" #fileInputPri (change)="capturarFilePri($event)" accept="image/*">
               </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>