<!---------nuestros servicios--------------->
<section class="course">
    <h1>Servicios que ofrecemos</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ipsa deleniti doloremque, ipsum id quidem.
        Sunt, veritatis soluta! Quae quasi sed accusantium quas, odit ipsam. Voluptatibus cumque harum corporis
        ipsa.</p>
    <div class="row">
        <div class="col-lg-4 pri mr-3 ">
            <div class="course-col-1 col-lg-12">
                <h3>Desarrollamos Software</h3>
                <p>Creamos soluciones de sistema de acuerdo a la necesidad de su empresa, integrando las mejores
                    tecnologias del mercado.</p>
            </div>
            <div class="cartabol-1">
                hola
            </div>
        </div>
        <div class="col-lg-4 seg">
            <div class="course-col-1 col-lg-12">
                <h3>Diseños Web</h3>
                <p>Creamos paginas web aplicando diseños increibles que cumplan con el objetivo de su negocio.</p>
            </div>
            <div class="cartabol-1">
                hola
            </div>
        </div>
        <div class="col-lg-4 ter">
            <div class="course-col-1 col-lg-12">
                <h3>Aplicativos Móviles</h3>
                <p>Creamos aplicaciones de calidad enfocados en dispositivos móviles que ayuden al crecimiento de su
                    negocio.</p>
            </div>
            <div class="cartabol-1">
                hola
            </div>
        </div>
    </div>
</section>


<!-----------nuestras tecnologias----------->
<section class="campus">
    <h1>Nuestras Tecnologias</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae cum molestias explicabo eveniet, nisi et
        officia dolorum. Earum, voluptatibus error, nemo dolorum hic ea praesentium delectus ex sint non fuga?</p>
    <div class="row">
        <div class="campus-col">
            <img src="./assets/images/node.png">
            <div class="layer">
                <h3>NODE JS</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="./assets/images/angular.png">
            <div class="layer">
                <h3>ANGULAR</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="./assets/images/android2.jpg">
            <div class="layer">
                <h3>ANDROID</h3>
            </div>
        </div>
    </div>
</section>


<!-------Nuestros Clientes------------>
    <section class="facilities">
    <h1>Nuestros Beneficios</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nihil possimus, quae, quisquam blanditiis
        dolorem obcaecati optio alias provident in debitis sequi cumque praesentium quod? Unde maiores aperiam
        fugiat officiis?</p>
    <div class="row">
        <div class="facilities-col">
            <img src="./assets/images/trajemedida.jpg">
            <h3>Traje a medida</h3>
            <p>Desarrollado mediante la utilización de la última tecnología actualizada específicamente para
                satisfacer los requisitos de negocio del cliente.</p>
        </div>
        <div class="facilities-col">
            <img src="./assets/images/integracion.jpg">
            <h3>Integración</h3>
            <p>Solución para la integración de programas, las empresas pueden disfrutar de los beneficios de
                trabajar con una aplicación de software diseñado a medida para
                integrar múltiples procesos</p>
        </div>
        <div class="facilities-col">
            <img src="./assets/images/soporte.jpg">
            <h3>Soporte</h3>
            <p>Beneficio que se obtiene con las aplicaciones de negocio personalizadas es un plan de apoyo técnico
                eficiente y fiable</p>
        </div>
    </div>
</section>


<!---------testimonios----------->
    <section class="testimonials">
    <h1>Testimonios</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nihil possimus, quae, quisquam blanditiis
        dolorem obcaecati optio alias provident in debitis sequi cumque praesentium quod? Unde maiores aperiam
        fugiat officiis?</p>
    <div class="row">
        <div class="testimonial-col">
            <img src="./assets/images/hombre.png">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit exercitationem sint iure aliquam
                    libero officiis voluptatum distinctio.</p>
                <h3>Julio Calderon</h3>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="testimonial-col">
            <img src="./assets/images/mujer.png">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit exercitationem sint iure aliquam
                    libero officiis voluptatum distinctio.</p>
                <h3>Kattya Grados</h3>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
    </div>
</section>


<!-------frase baner------------>
   <section class="cta">
    <h1>¿Quieres tu propia página web?<br>¡Hablemos de tu empresa!</h1>
    <a href="" class="hero-btn">CONTACTANOS</a>
</section>

