<section class="header" *ngFor="let nosotros of listNosotros"  style="background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url({{nosotros.img}});">
    <app-navbar></app-navbar>
    <div class="text-box">
        <h1>{{nosotros.title.toUpperCase()}}</h1>
        <p [innerHtml]="nosotros.descripcion">.</p>
        <a [routerLink]="['/nosotros']" routerLinkActive="router-link-active"  class="hero-btn">Visítanos para saber más</a>
    </div>
</section>
<!---------nuestros servicios--------------->
<section class="services mt-5">
    <div class="s-heading">
        <h1>Services</h1>
        <p>We Provide the best in classs services for our Customers</p>
    </div>
    <div class="s-box-container">
        <div class="s-box" *ngFor="let servicio of listServicio">
            <div class="bar"></div>
            <img src="{{servicio.logo ? servicio.logo : imgdefault}}" alt="1">
            <h1>{{servicio.title}}</h1>
            <p [innerHtml]="servicio.descripcion"></p>
            <a [routerLink]="['/servicios']" routerLinkActive="router-link-active"  class="s-btn">More</a>
        </div>
    </div>
</section>


<!-----------nuestras tecnologias----------->
<section class="campus">
    <h1>Nuestras Tecnologias</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae cum molestias explicabo eveniet, nisi et
        officia dolorum. Earum, voluptatibus error, nemo dolorum hic ea praesentium delectus ex sint non fuga?</p>
    <div class="row">
        <div class="campus-col" *ngFor="let tecnologia of listTecnologia">
            <img src="{{tecnologia.img ? tecnologia.img : imgdefault}}">
            <div class="layer">
                <h3>{{tecnologia.title}}</h3>
            </div>
        </div>
    </div>
</section>


<!-------Nuestros Clientes------------>
    <section class="facilities">
    <h1>Nuestros Beneficios</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nihil possimus, quae, quisquam blanditiis
        dolorem obcaecati optio alias provident in debitis sequi cumque praesentium quod? Unde maiores aperiam
        fugiat officiis?</p>
    <div class="row">
        <div class="facilities-col" *ngFor="let beneficio of listBeneficio">
            <img src="{{beneficio.img ? beneficio.img : imgdefault}}">
            <h3>{{beneficio.title}}</h3>
            <p [innerHtml]="beneficio.descripcion">.</p>
        </div>
    </div>
</section>


<!---------testimonios----------->
<!--     <section class="testimonials">
    <h1>Testimonios</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nihil possimus, quae, quisquam blanditiis
        dolorem obcaecati optio alias provident in debitis sequi cumque praesentium quod? Unde maiores aperiam
        fugiat officiis?</p>
    <div class="row">
        <div class="testimonial-col">
            <img src="./assets/images/hombre.png">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit exercitationem sint iure aliquam
                    libero officiis voluptatum distinctio.</p>
                <h3>Julio Calderon</h3>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="testimonial-col">
            <img src="./assets/images/mujer.png">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit exercitationem sint iure aliquam
                    libero officiis voluptatum distinctio.</p>
                <h3>Kattya Grados</h3>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
    </div>
</section> -->


<!-------frase baner------------>
   <section class="cta">
    <h1>¿Quieres tu propia página web?<br>¡Hablemos de tu empresa!</h1>
    <a [routerLink]="['/contacto']" routerLinkActive="router-link-active"  class="hero-btn">CONTACTANOS</a>
</section>

