<!-----------------Footer----------------->
<footer>
    <div class="container-footer-all">
        <div class="container-body">
            <div class="colum1">
                <h1>Mas informacion de la empresa</h1>
                <p>Somos una empresa que brinda soluciones innovadoras para satisfacer las necesidades de su
                    empresa.Nos
                    aseguramos de que se simplifique el trabajo y mejore la productividad. Le ofrecemos lo que
                    necesita
                    para poner en marcha su transformacion digital.</p>
            </div>
            <div class="colum2">
                <h1>Redes Sociales</h1>
                <div class="row2">
                    <img src="./assets/images/facebook2.png">
                    <label>Facebook</label>
                </div>
                <div class="row2">
                    <img src="./assets/images/instagram8.png">
                    <label>Facebook</label>
                </div>
                <div class="row2">
                    <img src="./assets/images/whatsapp2.png">
                    <label>Facebook</label>
                </div>
                <div class="row2">
                    <img src="./assets/images/google2.png">
                    <label>Facebook</label>
                </div>
            </div>
            <div class="colum3">
                <h1>Informacion contactos</h1>
                <div class="row3">
                    <img src="./assets/images/home2.png">
                    <label>Jr. Comandante Barrera N° 417,<br> Pucallpa - Perú</label>
                </div>
                <div class="row3">
                    <img src="./assets/images/telefono2.png">
                    <label>945 140 379</label>
                </div>
                <div class="row3">
                    <img src="./assets/images/mail2.png">
                    <label>gongal.soft@gmail.com</label>
                </div>
            </div>
        </div>

        <div class="container-footer">
            <div class="footer">
                <div class="copyright">
                    <p>&copy;Todos los derechos reservados | <a href="">GONGAL EIRL</a></p>
                </div>
                <div class="information">
                    <a href="">Información Compañia</a> |
                    <a href="">Privación y Politica</a> |
                    <a href="">Terminos y Condiciones</a>
                </div>
            </div>
        </div>

    </div>

</footer>