<!-----------------Footer----------------->
<footer>
    <div class="container-footer-all">
        <div class="container-body">
            <div class="colum1" *ngFor="let personal of listPersonal">
                <h1>Mas informacion de la empresa</h1>
                <p [innerHtml]="personal.descripcion">.</p>
            </div>
            <div class="colum2">
                <h1>Redes Sociales</h1>
                <div class="row2" *ngFor="let social of listSocial">
                    <a href="{{social.enlace}}" target="_blank"><img src="{{social.img ? social.img : imgdefault}}">
                        <label>{{social.title}}</label></a>
                </div>
            </div>
            <div class="colum3" *ngFor="let personal of listPersonal">
                <h1>Informacion contactos</h1>
                <div class="row3">
                    <img src="./assets/images/home2.png">
                    <label>{{address}},<br> Pucallpa - Perú</label>
                </div>
                <div class="row3">
                    <img src="./assets/images/telefono2.png">
                    <label>{{personal.celular}}</label>
                </div>
                <div class="row3">
                    <img src="./assets/images/mail2.png">
                    <label>{{personal.correo}}</label>
                </div>
            </div>
        </div>

        <div class="container-footer">
            <div class="footer">
                <div class="copyright">
                    <p>&copy;Todos los derechos reservados | <a href="">GONGAL EIRL</a></p>
                </div>
                <div class="information">
                    <a href="">Información Compañia</a> |
                    <a href="">Privación y Politica</a> |
                    <a href="">Terminos y Condiciones</a>
                </div>
            </div>
        </div>

    </div>

</footer>