 <!-- Main Sidebar Container -->
 <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="brand-link">
      <img src="./assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="https://res.cloudinary.com/dertftoym/image/upload/v1636324774/user_1_qmezph.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a class="d-block">{{nombre}}</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2" >
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          
          <li class="nav-item">
            <a [routerLink]="['/admin']" routerLinkActive="router-link-active"  class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/admin/ubicacion']" routerLinkActive="router-link-active"  class="nav-link">
              <i class="nav-icon fas fa-map-marker-alt"></i>
              <p>
                Ubicacion
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/admin/nosotros']" routerLinkActive="router-link-active"  class="nav-link">
              <i class="nav-icon fas fa-user-cog"></i>
              <p>
                Nosotros
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/admin/usuario']" routerLinkActive="router-link-active"  class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Usuarios
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/admin/servicio']" routerLinkActive="router-link-active"  class="nav-link">
              <i class="nav-icon fab fa-servicestack"></i>
              <p>
                Servicios
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/admin/beneficio']" routerLinkActive="router-link-active"  class="nav-link">
              <i class="nav-icon fas fa-concierge-bell"></i>
              <p>
                Beneficios
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/admin/tecnologia']" routerLinkActive="router-link-active"  class="nav-link">
              <i class="nav-icon fas fa-sim-card"></i>
              <p>
                Tecnologias
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/admin/social']" routerLinkActive="router-link-active"  class="nav-link">
              <i class="nav-icon fas fa-share-alt"></i>
              <p>
                Social
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/admin/bienvenido']" routerLinkActive="router-link-active"  class="nav-link">
              <i class="nav-icon fas fa-paper-plane"></i>
              <p>
                Welcome
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/admin/mensaje']" routerLinkActive="router-link-active"  class="nav-link">
              <i class="nav-icon fas fa-envelope"></i>
              <p>
                Mailbox
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/admin/personal']" routerLinkActive="router-link-active"  class="nav-link">
              <i class="nav-icon fas fa-cogs"></i>
              <p>
                Configuraciones
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>