/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
 #btn-mas{
    display: none;
 }
 .contenedor{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
 }
 .redes a, .btn-mas label{
    display: block;
    text-decoration: none;
    background: #ec5d24;
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;
 }
 .redes a:hover{
    background: #fff;
    color: #cc2b2b;
 }
 .redes a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
 }
 #btn-mas:checked~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
 }
 .btn-mas label{
    cursor: pointer;
    background: #ec5d24;
    font-size: 23px;
 }
 #btn-mas:checked ~ .btn-mas label{
    transform: rotate(135deg);
    font-size: 25px;
 }